extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Ryan Luttrell


        p.lead.text-light
          | Full Stack JavaScript Developer.


        .portfolio-bio
          p
            | With a strong foundation as a Project Manager at a Digital Marketing Agency, I have the ability to see the bigger picture within a project
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Object-Oriented Programming
          li APIs
          li NodeJS
          li Express
        h6 Contact Info


        ul
          li 403-899-7926
          li ryan.m.luttrell@gmail.com


        a.button.expanded(href='https://www.linkedin.com/in/ryan-luttrell/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/RyanLuttrell' target="_blank") GitHub
        a.button.expanded(href='https://www.instagram.com/standardryan/' target="_blank") Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  